.carousel {
    padding: 90px 0 81px 0;
    &__inner {
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev, .slick-next {
        border:none;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        
        img {
            height: 50px;
            width: 30px;
        }
    
    }
    .slick-next {
        left: auto;
        right: -66px;
    }
    .slick-dots {
        margin: 0 auto;
        width: 100px;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        li {
            height: 15px;
            width: 15px;
        }
        button {
            height: 100%;
            width: 100%;
            background-color: #0D0D0D;
            font-size: 1px;
            border-radius: 50%;
            border: none               
        }
    }
    .slick-dots li[class="slick-active"] button {
        background-color: $main_color;
    }
}